@font-face {
    font-family: 'Hello Mickeys';
    src: url('fontes/Hello Mickeys.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sunny';
    src: url('fontes/Sunny Spells Basic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;

}

header {
    background-color: #E61397;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: vh;
    padding: 10px;
    margin-bottom: 20px;
    align-items: center;
}

h1 {
    text-align: center;
    color: white;
    margin: auto;
    font-size: 80px;
    font-family: 'Hello Mickeys';
}

header img {
    width: 270px;
    height: 200px;
    margin: 20px;
    cursor: grab;
}

.topo {
    text-decoration: none;
    list-style: none;
    font-size: 30px;
    font-family: 'Hello Mickeys';
    display: flex;
    margin: 20px auto;
    padding-right: 40px;
}

.topo li {
    align-items: center;
    
}

.topo li a:hover {
    align-items: center;
    color: #EBC1C8;
    transition: 0.6s;
}

.topo li a {
    text-decoration: none;
    list-style: none;
    color: white;
    margin-right: 20px;
}

h2 {
    text-align: center;
    font-size: 60px;
    margin-bottom: 20px;
    font-family: 'Hello Mickeys';
}

.meio {
    background-image: url(Imagens/bg\ hk.png);
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 60px;
}

.meio div img {
    height: 300px;
    width: 300px;
    margin: 30px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.462);
    cursor: pointer;
    border-radius: 40px;
}

.preco {
    text-align: center;
    font-size: 18px;
    font-family: 'Sunny';
    margin-top: -24px;
    cursor: pointer;
    color: white;
    text-shadow: 1px 2px 2px #000000;
}

.preco:hover {
    text-align: center;
    font-size: 24px;
    margin-top: -24px;
    cursor: pointer;
    color: white;
    text-shadow: 1px 2px 2px #000000;
    transition: 0.6s;
}

.meio2 {
    background-color: #fe003f;
    height: 200px auto;
    padding: 70px;
    text-align: justify;
}

.meio2 p {
    font-size: 30px;
    color: white;
    padding: 10px;
    font-family: 'Sunny';
}

footer {
    background-color: #EBC1C8;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}

h3 {
    font-size: 40px;
    margin-top: 30px;
    text-align: center;
    color: white;
    background-color: #FE003F;;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px;
    font-family: 'Hello Mickeys';
}

footer i {
    font-size: 60px;
    padding: 20px;
    margin-top: 10px;
    cursor: pointer;
}

footer i:hover {
    font-size: 68px;
    padding: 20px;
    margin-top: 10px;
    color: #FE003F;
    transition: 0.6s;
}

.rodape li {
    font-size: 30px;
    list-style: none;
    text-decoration: none;
    padding: 2px;
    margin-top: 15px;
    padding-left: 40px;
    font-family: 'Sunny';
}

.rodape li:hover {
    font-size: 35px;
    list-style: none;
    text-decoration: none;
    padding: 2px;
    margin-top: 15px;
    color: #FE003F;
    cursor: pointer;
    transition: 0.6s;
}
